<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Shipment Module Automation Test Suite">
	<listeners>
		<listener class-name="com.qa.shipment.reports.ExtentReportListner" />
	</listeners>

	<test name="Shipment Module">
		<classes>
			<class name="com.qa.shipment.testcase.SearchpageTest"/>
			<class name="com.qa.shipment.testcase.MaintenancepageTest"/>
		</classes>
	</test>

</suite> 
